 
<script src="/bower_components/platform/platform.js"></script>
<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>

<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<html>
<body>

<div>

        <br>
<div class="container-fluid">
    <table class="table" cellspacing="0" >
        <tr>
            <td>
                <h2> ¡Bienvenido <%= user.fullname%>! <br> 
                    Estos son los cursos disponibles para ti</h2>
            </td>
            <td>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-outline-danger btn-block">Cerrar sesión</button>
                </form>
            </td>
        </tr>
    </table>
    
    <table class="table table-striped" cellspacing="0" >
       <tr>
          <td> <a href="http://cursos.us-south.cf.appdomain.cloud/course1"><button type="button" class="btn btn-outline-success btn-lg btn-block">
                Introducción al testing automatizado con Katalon
            </button></a></td>
          <td><a href="http://cursos.us-south.cf.appdomain.cloud/course2"><button type="button" class="btn btn-outline-success btn-lg btn-block">
                Introducción al protocolo MAVLink V2 
          </button></a></td>
          <td> <a href="http://cursos.us-south.cf.appdomain.cloud/course3"><button type="button" class="btn btn-outline-success btn-lg btn-block">
                Introducción a AWS
          </button></a></td>
       </tr>
       <tr>
        <td> <a href="http://cursos.us-south.cf.appdomain.cloud/course4"><button type="button" class="btn btn-outline-success btn-lg btn-block">
            Introducción a Cisco IOS
        </button></a></td>
      <td><a href="http://cursos.us-south.cf.appdomain.cloud/course5"><button type="button" class="btn btn-outline-success btn-lg btn-block">
            Programación en Swift
      </button></a></td>
      <td> <a href="http://cursos.us-south.cf.appdomain.cloud/course6"><button type="button" class="btn btn-outline-success btn-lg btn-block">
            Introducción a Docker
      </button></a></td>
       </tr>
       <tr>
        <td> <a href="http://cursos.us-south.cf.appdomain.cloud/course7"><button type="button" class="btn btn-outline-success btn-lg btn-block">
            Trucos de consola UNIX
        </button></a></td>
      <td><a href="http://cursos.us-south.cf.appdomain.cloud/course8"><button type="button" class="btn btn-outline-success btn-lg btn-block">
            Uso de Pug con Node.JS
      </button></a></td>
      <td> <a href="http://cursos.us-south.cf.appdomain.cloud/course9"><button type="button" class="btn btn-outline-success btn-lg btn-block">
            Como hacer las mejores hamburguesas
      </button></a></td>
       </tr>
   </table>
</div>
	

</body>
</html>
