<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario de Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row mt-5">
            <div class="col-7 login-left">
            </div>
            <div class="col-5 mt-2">
                <div>
                    <% if(errors != "") { %>
                        <% errors.forEach((item) => { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <form method="POST" action="/register">
                    <div class="form-group">
                        <label for="fullName">Nombre completo:</label>
                        <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Nombre completo">
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electronico: (*)</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Correo electronico" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña: (*)</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation">Confirmar contraseña: (*)</label>
                        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirmar contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>

                <hr>
                <div>
                    Si ya tienes una cuenta. <a href="/login">Inicia sesión</a>.
                </div>
                <div>
                    Regresar a <a href="/">pagina de inicio</a>
                </div>
                <br><br>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>
